@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
:not(i),
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #414042;
}

.form-control,
select {
    border-radius: 0px !important;
}

b,
strong {
    font-weight: 700;
    color: inherit;
}

.pristina {
    font-family: 'Quicksand', sans-serif;
}

:not(i),
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #414042;
}

.form-control,
select {
    border-radius: 0px !important;
}

b,
strong {
    font-weight: 700;
    color: inherit;
}

.pristina {
    font-family: 'Quicksand', sans-serif;
}

.h1,
h1 {
    font-size: 49px;
}

.fundo-1 {
    background-color: #424243;
}

.hover:hover,
.hover:hover * {
    color: #ae2b28;
}

.sem-banner {
    height: 200px;
    background: #ccc url('../img/banner-topo.png') center no-repeat;
    background-size: auto;
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
    display: block;
}

.regular {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.extra-bold,
.extra-bold * {
    font-weight: 800;
}

.carousel-caption * {
    color: #fdfdfd;
}

.margin-20-auto {
    margin: 20px auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-30-0 {
    margin: 30px 0px;
}

.margin-60-0 {
    margin: 60px 0px;
}

.cor-1 {
    color: #414042;
}

.cor-2 {
    color: #E6E7E8;
}

.cor-3 {
    color: #D71920;
}

.cor-4 {
    color: #0d113d;
}

.cor-1-extra-bold {
    color: #414042;
    font-weight: 800;
}

.cor-2-extra-bold {
    color: #E6E7E8;
    font-weight: 800;
}

.bg-1,
.bg-1 p,
.bg-1 a,
.bg-1 span {
    background-color: #424243 !important;
    color: #fff;
    font-size: 15px;
}

.botao-1 {
    border: 1px solid transparent;
    padding: 10px 40px;
    color: #fff;
    cursor: pointer;
    background: #d42419 url('../img/icons/fundo-botao-vermelho.png') center repeat-x;
    background-size: cover;
}

.botao-1-sm {
    border: 1px solid transparent;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    background: #d42419 url('../img/icons/fundo-botao-vermelho.png') center repeat-x;
    background-size: cover;
}
.botao-1:hover {
    background: #d42419 url('../img/icons/fundo-botao-vermelho-hover.png') center repeat-x;
    background-size: cover;
    color: #fff;
}

.botao-2 {
    border: 1px solid #000;
    padding: 3px 9px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
}

.botao-2:hover {
    border-color: #d42519;
    color: #d42519;
}

.botao-3 {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 500;
}

.botao-3:hover {
    border-color: #e56b36;
    background-color: #e56b36;
    color: #fff;
}

.botao-4 {
    border-color: #e56b36;
    background-color: #e56b36;
    color: #fff;
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 500;
}

.botao-4:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}

.botao-5 {
    border: 1px solid #d42519;
    padding: 3px 9px;
    font-size: 13px;
    font-weight: 500;
    color: #d42519;
    border-radius: 0px;
}

.botao-5:hover {
    border-color: #000;
    color: #000;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

img {
    max-width: 100%;
}

.media-object {
    max-width: none;
}

.banners img {
    width: 100%;
}

.padding-0 {
    padding: 0px;
}

.bg-1.info-pacote p {
    margin: 0px;
}

.bg-1.info-pacote .col-sm-3 {
    border-right: 3px solid white;
}

.bg-1.info-pacote>.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-info-pacote {
    width: 22px;
    height: 21px;
    position: relative;
    margin-right: 9px;
    top: 4px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pacote-detalhes .icon-info-pacote {
    margin-right: 4px;
}

.info-pacote.hover p:hover span,
.info-pacote.hover p:hover a {
    color: #ae2b28;
}

i.icon-info-pacote.icon-saidas {
    background: transparent url('../img/icons/saidas.png') center no-repeat;
    background-size: contain;
}


i.icon-info-pacote.icon-saidas-negativo-1 {
    background: transparent url('../img/icons/saidas-hover-1.png') center no-repeat;
    background-size: contain;
}

.info-pacote.hover p:hover i.icon-info-pacote.icon-saidas {
    background: transparent url('../img/icons/saidas-hover.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-saidas,
.hover.active .icon-saidas {
    background: transparent url('../img/icons/saidas-hover.png') center no-repeat;
    background-size: contain;
}

i.icon-info-pacote.icon-telefone {
    background: transparent url('../img/icons/telefone.png') center no-repeat;
    background-size: contain;
}

.info-pacote.hover p:hover>i.icon-info-pacote.icon-telefone {
    background: transparent url('../img/icons/telefone-hover.png') center no-repeat;
    background-size: contain;
}

i.icon-info-pacote.icon-duracao {
    background: transparent url('../img/icons/duracao.png') center no-repeat;
    background-size: contain;
}

i.icon-info-pacote.icon-duracao-negativo {
    background: transparent url('../img/icons/duracao-negativo.png') center no-repeat;
    background-size: contain;
}

.info-pacote.hover p:hover i.icon-info-pacote.icon-duracao {
    background: transparent url('../img/icons/duracao-hover.png') center no-repeat;
    background-size: contain;
}

.icon-roteiro {
    background: transparent url('../img/icons/roteiro.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-roteiro,
.hover.active .icon-roteiro {
    background: transparent url('../img/icons/roteiro-hover.png') center no-repeat;
    background-size: contain;
}

.icon-inclui {
    background: transparent url('../img/icons/inclui.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-inclui,
.hover.active .icon-inclui {
    background: transparent url('../img/icons/inclui-hover.png') center no-repeat;
    background-size: contain;
}

.icon-valores {
    background: transparent url('../img/icons/valores.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-valores,
.hover.active .icon-valores {
    background: transparent url('../img/icons/valores-hover.png') center no-repeat;
    background-size: contain;
}

.icon-hoteis {
    background: transparent url('../img/icons/hoteis.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-hoteis,
.hover.active .icon-hoteis {
    background: transparent url('../img/icons/hoteis-hover.png') center no-repeat;
    background-size: contain;
}

.icon-informacoes {
    background: transparent url('../img/icons/informacoes.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-informacoes,
.hover.active .icon-informacoes {
    background: transparent url('../img/icons/informacoes-hover.png') center no-repeat;
    background-size: contain;
}

.icon-documentos {
    background: transparent url('../img/icons/documentos.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-documentos,
.hover.active .icon-documentos {
    background: transparent url('../img/icons/documentos-hover.png') center no-repeat;
    background-size: contain;
}

.icon-condicoes-gerais {
    background: transparent url('../img/icons/condicoes-gerais.png') center no-repeat;
    background-size: contain;
}

.hover:hover .icon-condicoes-gerais,
.hover.active .icon-condicoes-gerais {
    background: transparent url('../img/icons/condicoes-gerais-hover.png') center no-repeat;
    background-size: contain;
}

.header .navbar .navbar-nav>li>a {
    max-width: 145px;
    text-align: center;
    height: 65px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0px;
}

.header .navbar .navbar-nav>li a {
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.header .navbar {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid rgba(77, 77, 76, 0.4);
    border-top: 6px solid #D71920;
    border-bottom: 6px solid #D71920;
    box-shadow: 0px 4px 23px -8px #000;
    border-radius: 0px;
}

.header.nav-up {
    top: -37px;
}

.header .nav li.active a,
.header .nav li a:focus,
.header .nav li a:hover,
.header .nav li a:hover .caret,
.header .nav li a:focus .caret {
    background-color: transparent;
    color: #D71920;
    border-color: #D71920;
}

.header a {
    text-transform: uppercase;
}

.header .redes-sociais li {
    padding: 11px 8px 4px 8px;
    margin-left: 5px;
    cursor: pointer;
}

.header .redes-sociais li.whatsapp {
    background: #53b949;
    color: #fff;
}

.header .redes-sociais li.instagram,
.header .redes-sociais li.facebook {
    background: #d12d0f;
    color: #fff;
    padding: 0px;
}

.header .area-do-agente {
    background: #d12d0f;
    color: #fff;
    position: absolute;
    padding: 0px;
    right: 44%;
}

.header .area-do-agente a {
    color: #fff;
    text-transform: capitalize;
}

.header .redes-sociais li.instagram a,
.header .redes-sociais li.facebook a {
    padding: 11px 8px 4px 8px;
}

.header .redes-sociais li.instagram a:hover,
.header .redes-sociais li.facebook a:hover,
.header .redes-sociais li.instagram a:focus,
.header .redes-sociais li.facebook a:focus,
.header .redes-sociais li.instagram a:active,
.header .redes-sociais li.facebook a:active,
.header .redes-sociais li.instagram a:visited,
.header .redes-sociais li.facebook a:visited {
    background: #3a3a3c;
    color: #fff;
}

.header .redes-sociais li.whatsapp a {
    float: left;
    color: #fff;
    margin-right: 6px;
    display: none;
}

.header .redes-sociais li a {
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 10px;
}

.header .area-do-agente a:focus {
    color: #fff !important;
}

.header .redes-sociais li a.text-uppercase {
    text-transform: uppercase;
}

.header .redes-sociais li a.botao-sair:hover {
    text-decoration: none;
}

.header .redes-sociais li a.botao-sair .hover:hover {
    text-decoration: underline;
}

.header .redes-sociais li a:hover {
    text-decoration: underline;
    color: #fff;
}

.header .redes-sociais li a span {
    color: #fff;
    font-weight: 200;
}

.header .redes-sociais i {
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
}

.header .redes-sociais li.pesquisar {
    padding: 0px;
}

.disabled.menu-item-has-children>a:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin: 10px 20px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.header .redes-sociais li.pesquisar form input {
    border: none;
    height: 100%;
    float: right;
    padding-left: 10px;
    opacity: 0;
    background: #fff;
}

.opacity-1 {
    opacity: 1 !important;
}

.header .redes-sociais li.pesquisar form {
    margin-top: 0px;
    height: 35px;
}

.header .redes-sociais li.pesquisar form label {
    background: #3a3a3c;
    padding: 9px 8px;
    cursor: pointer;
}

img.logo {
    margin-top: -12px;
    width: 191px;
    height: auto;
    max-width: initial;
}

img.logo-mobile {
    width: 130px;
    margin-top: -19px;
    margin-left: -15px;
}

button.navbar-toggle {
    border: 1px solid #4d4d4c;
    margin-top: 0px;
}

button.navbar-toggle .icon-bar {
    background-color: #4d4d4c;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}

.carousel-caption {
    bottom: 40%;
    padding: 0px;
}

.banner-descritions {
    padding: 15px;
}

.banner-titles * {
    font-size: 50px;
}

.shape {
    position: relative;
    padding-left: 13px;
}

.shape:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape.png") left center no-repeat;
    background-size: contain;
}

.shape2 {
    position: relative;
    padding-left: 13px;
}

.shape2:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape2.png") left center no-repeat;
    background-size: contain;
}

.shape3 {
    position: relative;
    padding-left: 13px;
}

.shape3:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape4.png") left center no-repeat;
    background-size: contain;
}

.shape4:after {
    content: "";
    width: 48%;
    display: block;
    margin-top: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
}

.shape5:after {
    content: "";
    width: 19%;
    display: block;
    margin-top: 5px;
    height: 5px;
    border-radius: 5px;
    background: #86a355;
}

.descrition {
    margin: 20px 0px;
}

.homeIcones {
    max-width: 49px;
    margin-top: -11px;
}

.grupos {
    background: #d42519;
    text-align: center;
    margin-top: 0px;
}

.grupos .home-links>div {
    padding: 15px 0px !important;
}

.grupos .home-links>div>div {
    padding: 0px 8px;
}

.grupos .home-links>div:hover,
.grupos .home-links>div.active {
    background: #424243;
}

.grupos p {
    margin: 0px;
    font-size: 14px;
}

.grupos a {
    color: #fff;
    max-width: 80%;
    margin: auto;
    font-weight: 300;
}

.grupos strong a {
    font-weight: 500;
}

.grupos a:hover {
    text-decoration: none;
}

.box-ofertas div a {
    position: relative;
    float: left;
    margin: 10px 0px;
    width: 100%;
    display: block;
}

.box-ofertas div a:hover .sombra,
.box-ofertas div a.active .sombra {
    display: block;
}

.box-ofertas-hover-2 div a:hover .sombra,
.box-ofertas-hover-2 div a.active .sombra {
    display: none;
}

.box-ofertas div a img {
    width: 100%;
    border-radius: 6px;
}

.box-ofertas .nome-da-oferta {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    left: 0px;
    bottom: 15px;
    max-width: 90%;
    background-color: #86a355;
}

.box-ofertas .nome-da-oferta-2 {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    right: 0px;
    bottom: 50px;
    max-width: 90%;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.box-ofertas .nome-da-oferta-3 {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    left: 0px;
    top: 40%;
    width: 100%;
    font-size: 17px;
    text-transform: uppercase;
}

.sombra {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
    border-radius: 0px;
}

.box-ofertas-hover-2 .sombra {
    display: block;
}

.box-verde {
    background-color: #86a355;
    padding: 30px 0px;
    color: #fff;
}

.box-verde * {
    color: #fff;
}

.setas {
    margin-top: 21px;
    width: 56px;
    float: right;
}

.setas i {
    color: #86a355;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.setas i:hover {
    color: #e7683f;
}

.noticias a {
    float: left;
    width: 100%;
    padding: 10px 0px;
}

.noticias a:hover * {
    font-weight: bold;
}

.footer {
    background-color: #424243;
}

.footer,
.footer p,
.footer a,
.footer span {
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;
}

.footer i {
    color: #fff;
    font-size: 18px;
}

.footer,
.footer a {
    color: #E6E7E8;
}

.footer .font-copyright * {
    font-size: 12px;
    margin: 10px !important;
}

.footer {
    padding-top: 20px;
    border-top: 6px solid #D71920;
    position: relative;
}

.footer .lista {
    list-style: none;
    padding: 0px;
    float: left;
    margin-right: 7px;
}

a.btn.botao-footer.scrollTop {
    border: 1px solid #E6E6E7;
    border-radius: 0px;
    font-size: 33px;
    height: 45px;
    top: 30%;
    right: 3px;
    margin-top: -23px;
    margin-right: 17px;
    position: absolute;
    z-index: 9;
}

a.btn.botao-footer.scrollTop:hover {
    border-color: #d42519;
    color: #d42519;
}

.borderLeftWhite {
    border-left: 1.5px solid white;
}

.borderRightWhite {
    border-right: 1.5px solid white;
}

.footer .borderLeftGreen {
    border-left: 1px solid #86a355;
}

.footer .borderTopGreen {
    border-top: 1px solid #86a355;
}

.footer .lista li {
    padding: 5px 0px;
}

.footer .lista a:hover,
.footer .lista a:hover span {
    text-decoration: none;
    color: #D71920;
}

.footer .box-branco {
    background: #fff;
    padding: 3px 10px;
    width: 100%;
    max-width: 219px;
    margin: 10px auto;
}

.footer .box-branco p {
    color: #414042;
    font-weight: 400;
}

.footer .copyright {
    margin-top: 40px;
    padding-top: 20px;
}

.footer .redes-sociais i {
    font-size: 16px;
    margin-left: 10px;
}

.footer .redes-sociais a:hover {
    text-decoration: none;
    color: #e56b36;
}

.scroll-left {
    display: block;
    height: 100%;
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
    padding-left: 10px;
}

.box-vermelho {
    background: #D71920;
    padding-top: 10px;
}

.box-vermelho p {
    color: #fff;
    margin: 0px;
    margin-bottom: 4px;
    display: inline-block;
    margin-left: -6px;
}

.box-estilo-1 .pristina {
    font-size: 18px;
    padding: 10px 0px 0px 8px;
    margin: 0px;
    min-height: 43px;
}

.box-estilo-1 {
    position: relative;
    margin: 15px auto;
    width: 360px;
}

.box-estilo-1>a figure {
    position: relative;
    height: 200px;
    overflow: hidden;
    width: 360px;
    max-width: 100%;
}

.box-estilo-1>a figure img {
    max-width: none;
}

.box-estilo-1>a:hover,
.box-estilo-1>a:active,
.box-estilo-1>a:focus,
.box-estilo-1>a:visited {
    text-decoration: none;
}

.box-estilo-1>a:hover p {
    color: #414042;
}

.box-estilo-1>a:hover .sombra {
    display: block;
}

.box-estilo-2 {
    margin-bottom: 30px;
}

.box-estilo-4 {
    background: #E6E6E7;
    margin-bottom: 20px;
    padding: 11px;
    min-height: 530px;
}

.box-estilo-4 .bt_bb_wrapper {
    overflow: inherit;
}

.box-estilo-4 iframe,
.box-estilo-4 video {
    max-height: 360px;
    position: relative;
    left: -10px;
    top: -10px;
    width: 103.8%;
}

.box-estilo-4 .media-titulo {
    color: #D71920;
    font-weight: 400;
    margin-top: 0px;
}

.filete-vermelho {
    background: #d42519;
    color: #fff;
    text-transform: uppercase;
    padding: 14px;
    line-height: 7px;
    width: auto;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    font-size: 18px;
    right: -14px;
    padding-right: 9px;
    top: 20px;
    z-index: 9;
}

.filete-vermelho:after {
    content: '';
    background: blue;
    width: 14px;
    height: 20px;
    background: url('../img/icons/sombra.png') center no-repeat;
    position: absolute;
    background-size: cover;
    bottom: -20px;
    right: 0px;
}

.pacote-detalhes .tab-content {
    background: #E6E6E7;
    padding: 15px;
    position: relative;
}

.pacote-detalhes .tab-content p {
    color: #424243;
}

.formulario {
    display: block;
    min-height: 10px;
}

.pacote-detalhes ul.nav.nav-tabs>li {
    background: #424243;
    border-color: #fff;
    border-top: 4px solid #fff;
    color: #fff;
    font-size: 13px;
    border-bottom: none !important;
    border-radius: 0px;
    border-right: 1px solid #fff;
    font-weight: 300;
}

.pacote-detalhes ul.nav.nav-tabs>li a {
    color: #fff;
    text-align: center;
    border-bottom: none !important;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 300;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
}

.pacote-detalhes ul.nav.nav-tabs>li.active a,
.pacote-detalhes ul.nav.nav-tabs>li:hover a {
    color: #ae2b28;
    background: transparent;
    font-weight: 500;
}

.pacote-detalhes ul.nav.nav-tabs>li.active {
    background: #e6e6e7;
    color: #d42519;
    font-weight: 600;
    border-top: 1px solid #e6e6e7;
}

.single-produtos .formulario .o-box-cinza,
.page.contato .formulario .o-box-cinza,
.page.viagens-individuais .formulario .o-box-cinza,
.page.tours-regulares .formulario .o-box-cinza {
    margin: 0px;
    background: #e6e6e7;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-cinza {
    margin: 0px;
    background: #e6e6e7;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario form * {
    font-weight: 400;
}

.formulario .checkbox {
    display: inline-block;
    margin-right: 5px;
    margin-left: 26px;
}

.formulario .checkbox label {
    font-weight: 300;
    padding: 0px;
}

.single #formulario form {
    max-width: 86%;
    margin: 20px auto;
}

.wpcf7-submit {
    border: 1px solid transparent !important;
    padding: 10px 40px;
    color: #fff;
    cursor: pointer;
    background: #d42419 url(../img/icons/fundo-botao-vermelho.png) center repeat-x;
    background-size: cover;
}

.wpcf7-submit:hover {
    background: #d42419 url(../img/icons/fundo-botao-vermelho-hover.png) center repeat-x;
    background-size: cover;
    color: #fff;
}

div#mapbase * {
    font-family: 'pristina';
    font-size: 21px;
}

.pacote-detalhes blockquote {
    padding: 0px;
    border: none;
    font-size: 13px;
    background: #fff;
}

.pacote-detalhes blockquote p {
    font-weight: 600;
    font-size: 15px;
}

.pacote-detalhes blockquote b,
.pacote-detalhes blockquote strong {
    background: #d4251a;
    padding: 6px 10px;
    color: #fff;
    display: inline-block;
    margin-right: 8px;
}

.inscrever-se {
    padding-top: 26px;
    padding-bottom: 0px;
    color: #fff;
    min-height: 98px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.inscrever-se label {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
}

.inscrever-se .botao-1 {
    padding: 6px 13px;
    border-radius: 0px;
}

.inscrever-se .mc4wp-response p {
    color: #ffffff;
    text-align: center;
}

.inscrever-se .mc4wp-response .mc4wp-success p {
    color: #4aff37;
}

.inscrever-se .mc4wp-response .mc4wp-error p {
    color: red;
}

.inscrever-se .form-group.your-email {
    display: table-cell;
    position: relative;
}

.inscrever-se span.help-block {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: 41px;
    background: #fff;
    padding: 6px;
}

.inscrever-se .wpcf7-response-output {
    margin-top: 50px;
}

#formulario .mc4wp-success {
    background: #52a93f;
    padding: 10px 14px 3px 10px;
    color: #fff;
}

#formulario .mc4wp-error {
    background: #d42419;
    padding: 10px 14px 3px 10px;
    color: #fff;
}

#formulario .mc4wp-success p {
    color: #fff;
}

.single-produtos .campo-numdias,
.single-produtos .campo-data,
.single-produtos .campo-cathotel {
    display: none;
}

.loop-folhetos figure {
    background: #E6E6E7;
    text-align: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.loop-folhetos p {
    font-size: 18px;
    margin: 4px;
}

.box-estilo-2 {
    margin-bottom: 30px;
}

.archive .box-estilo-2 a:hover *,
.box-estilo-2 a:hover {
    color: #d42519;
    text-decoration: none;
}

.box-estilo-3 {
    margin-bottom: 30px;
    background-color: #e6e6e7;
}

.box-estilo-5 {
    background-color: #e6e6e7;
}

.page.viagens-individuais .campo-numdias {
    display: none;
}

.loop-depoimentos .botao-1 {
    padding: 6px 12px;
    font-size: 11px;
}

.loop-depoimentos .media {
    background: #E6E6E7;
    margin-bottom: 20px;
}

.loop-depoimentos .media-body {
    padding: 12px;
}

.loop-depoimentos .media-heading {
    color: #B81E24;
    font-weight: 400;
}

.loop-depoimentos .media-object {
    max-width: 360px;
}

.page.solicite-atendimento .campo-cathotel {
    display: none;
}

.tempo {
    text-transform: capitalize;
}

.page.contato .campo-destino,
.page.contato .campo-data,
.page.contato .campo-numdias,
.page.contato .campo-numpax,
.page.contato .campo-cathotel {
    display: none;
}

.campo-cv a {
    position: absolute;
    right: 14px;
    top: 0px;
    padding: 8px 11px;
    width: 103px;
    text-align: center;
    font-size: 12px;
}

.campo-cv input {
    position: relative;
    left: -103px;
    top: 8px;
    opacity: 0;
}

.campo-cv label {
    overflow: hidden;
    border: 1px solid #cccccc;
    width: 100%;
    height: 35px;
}

.linha-prods-lista {
    background: #E6E6E7;
    padding: 7px 7px 7px 7px;
    margin: 10px;
}

.linha-prods-lista .nome-roteiro {
    font-size: 20px;
    overflow: hidden;
}

.linha-prods-lista .nome-roteiro a {
    color: #414042;
    font-weight: 500;
    text-decoration: none;
}

.linha-prods-lista .nome-roteiro a:hover {
    color: #b81e25;
}

.linha-prods-lista .duracao-roteiro {
    font-weight: 500;
    padding-top: 6px;
}

span.seta-v {
    font-size: 26px;
    color: #B81E24;
    position: relative;
    top: 0px;
    margin-right: 10px;
}

.linha-prods-lista .botao-roteiro a {
    position: relative;
    top: 10px;
}

.botao-1-sm:hover {
    text-decoration: none;
}

div#wp-live-chat-header,
.wplc_left_logo {
    background: transparent url("../img/icons/chat.png") no-repeat ! important;
    box-shadow: none !important;
    background-size: 100% !important;
    border-radius: 0px !important;
}

div#wp-live-chat-header.active {
    background: transparent url("../img/icons/chat-hover.png") no-repeat !important;
    transform: none;
    box-shadow: none !important;
    background-size: 100% !important;
    border-radius: 0px !important;
}

.pagination a,
.pagination span {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    background: #58585a url(../img/fundo-botao-cinza.png) center repeat-x;
    background-size: contain;
}

html .pagination a:hover,
html .pagination span:hover {
    background: #91919200 url(../img/fundo-botao-cinza-hover.png) center repeat-x;
    background-size: contain;
}

.pagination .current {
    background: #d42419 url(../img/icons/fundo-botao-vermelho.png) center no-repeat;
}

.pagination .current:hover {
    background: #d42419 url(../img/icons/fundo-botao-vermelho-hover.png) center repeat-x;
    background-size: cover;
    color: #fff;
}

div#wp-live-chat .wplc_offline {
    color: #000;
}

.curriculum:after {
    content: "Enviar arquivo";
    position: absolute;
    top: 11px;
    left: 27px;
    font-size: 10px;
}

.home main,
.page .banners {
    margin-top: 141px;
}

.single-produtos .banners,
.archive .banners,
.sem-banner {
    margin-top: 140px;
}

iframe {
    max-width: 100%;
}

.grupos-transeuropa main {
    margin-top: 140px;
}

.cruzeiros main {
    margin-top: 142px;
}

html .inscrever-se label.yikes-easy-mc-checkbox-label * {
    color: #fff;
    font-size: 13px;
    margin-left: 3px;
}

html .inscrever-se label.yikes-easy-mc-checkbox-label input {
    position: relative;
    top: 0px;
}

html .inscrever-se .yikes-easy-mc-form .yikes-easy-mc-checkbox-label {
    float: left !important;
    display: contents;
}

html .inscrever-se .yikes-easy-mc-form .field-no-label,
.yikes-easy-mc-form label {
    margin-right: -2px;
    width: 40% !important;
    text-align: right;
}

html .inscrever-se input.yikes-easy-mc-email {
    display: inline-block;
    width: 100%;
    height: 34px;
    margin-right: -6px;
    font-size: 14px;
}

html .inscrever-se .yikes-easy-mc-form .yikes-easy-mc-submit-button {
    width: auto;
    display: inline-block;
    height: 36px !important;
    border-radius: 0px;
    padding: 6px 11px;
    position: relative;
    min-height: auto;
    top: -1.3px;
    margin-bottom: 0px;
    left: 4px;
    margin-top: 0px;
    cursor: pointer;
    background: #d42419 url(../img/icons/fundo-botao-vermelho.png) center repeat-x;
    background-size: cover;
    border-color: transparent;
}

html .inscrever-se .yikes-easy-mc-form .yikes-easy-mc-submit-button * {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

html .inscrever-se span.TPCLIENTE-label.checkbox-parent-label {
    display: none;
}

html .inscrever-se span.EMAIL-label {
    display: none;
}

html .inscrever-se label.TPCLIENTE-label {
    padding-right: 10px;
    text-align: center;
}

html .inscrever-se p.texto-news {
    color: #fff;
    margin: 0px;
    margin-top: 6px;
    font-size: 14px;
    text-align: right;
}

html .inscrever-se p.yikes-easy-mc-success-message.yikes-easy-mc-success-message-1.yikes-easy-mc-hidden {
    position: absolute;
    top: 52px;
    left: 0px;
}

.single-produtos .container.pacote-detalhes table {
    width: 100% !important;
}

form#formulario-de-newsletter-t-1 {
    margin-top: 4px;
    margin-bottom: -11px;
}

html .yikes-easy-mc-error-message {
    position: absolute;
    top: 52px;
}


form#formulario-de-newsletter-t-1 {
    margin-top: 4px;
    margin-bottom: -11px;
}

html .yikes-easy-mc-error-message {
    position: absolute;
    top: 52px;
}

form#loginform > p {
    padding: 0px 5px;
}


form#loginform {
    margin: 20px auto;
    text-align: center;
}

form#loginform  label{
    display: none;
}

form#loginform .login-remember {
    display: none !important;
}

ul.menu-do-agente {
    position: absolute;
    background: #d52519;
    right: 0px;
    list-style: none;
    top: -11px;
    padding: 0px;
    margin-right: 27px;
}

.mobile ul#menu-menu-agente {
    position: relative;
}

ul.menu-do-agente >li > a {
    font-size: 10px;
    padding: 2px 14px !important;
    margin: 0px !important;
    height: auto !important;
    border: 0px !important;
}

ul.menu-do-agente >li > a:hover {
    text-decoration: none !important;
}

ul.menu-do-agente >li > a {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
}

ul.menu-do-agente >li > a:hover {
    color: #fff !important;
}

ul.menu-do-agente li:hover ul {
    display: block;
}

ul.menu-do-agente a {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

ul.menu-do-agente li {
    padding: 4px 15px;
    text-align: center;
}



ul.menu-do-agente li:hover ul {
    display: block !important;
    background: #d32e0d;
    border: none;
    width: 100%;
    border-radius: 0px;
}

ul.menu-do-agente li a {
    max-width: 100% !important;
    font-weight: 500 !important;
    text-transform: none !important;
    font-size: 12px;
    color: #fff !important;
}

ul.menu-do-agente li a:hover {
    color: #fff !important;
    text-decoration: underline;
}

ul#menu-header-menu-agente ul {
    background: #d52519;
    border-radius: 0px;
    border: none;
    width: 100%;
    text-align: center;
    display: none;
}

ul#menu-header-menu-agente ul a {
    border: none;
    padding: 0px;
    font-weight: 400;
    text-transform: none;
}

ul#menu-header-menu-agente ul a:hover {
    text-decoration: underline;
}

ul#menu-header-menu-agente ul li a:hover {
    color: #fff !important;
}

.mobile ul#menu-header-menu-agente {
    position: relative;
    margin: 1px;
    text-align: center;
}

.mobile ul#menu-header-menu-agente li a{
    text-align:center !important;
    width: 100% !important;
    display: block;
}
.cadastro .checkbox {
    display: inline-block;
    margin-right: 10px;
}

.cotacao-especial .formulario .checkbox {
    margin-left: 23px;
}

.icones-mendiuns i {
    font-size: 21px;
    margin-right: 7px;
}


.campanha-de-incentivo .pacote-detalhes ul.nav.nav-tabs>li.active {
    margin-bottom: 0px;
    border: none;
    padding-bottom: 4px;
}

.campanha-de-incentivo .pacote-detalhes ul.nav.nav-tabs>li {
    padding-left: 14px;
    padding-right: 14px;
}

.area-do-agente .form-control {
    width: 90%;
}

.cadastro .form-control {
    margin-bottom: 25px !important;
}

.cadastro main form {
    margin: 70px 0px;
}

.area-form {
    margin: 42px 0px;
}

form#loginform > p {
    margin-bottom: 29px !important;
}

.cadastro main form .row > div {
    margin-bottom: 15px;
}

p.yikes-easy-mc-success-message{
    position: absolute;
    top: 42px;
    z-index: 2;
    right: 72px;
}

.yikes-mailchimp-container {
    position: relative;
}

/* desktop ------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-max-device-pixel-ratio:1.5),
only screen and (max-resolution:144dpi) {
    .banner-titles * {
        font-size: 50px;
    }
}

@media only screen and (max-width:2560px) {
    .banner-titles * {
        font-size: 75px;
    }
    .banner-descritions {
        font-size: 18px;
    }
}

@media only screen and (max-width:1440px) {
    .banner-titles * {
        font-size: 50px;
    }
    .carousel-caption {
        bottom: 30%;
    }
}

@media only screen and (max-width:1280px) {}

@media only screen and (max-width:1140px) {}

@media only screen and (max-width:1024px) {
    .carousel-caption {
        bottom: 14%;
    }
    .banner-titles * {
        font-size: 36px;
    }
    .banner-descritions {
        font-size: 15px;
    }
}

@media only screen and (max-width:768px) {
    .only-desktop {
        display: none;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .padding-0 {
        padding: auto;
    }
    div#myNavbar {
        border-top: 1px solid rgba(77, 77, 76, 0.4);
    }
    .header nav.navbar.navbar-fixed-top {
        border-bottom: 1px solid rgba(77, 77, 76, 0.4);
    }
    .carousel-caption {
        bottom: 15%;
    }
    #myCarousel2 .carousel-caption {
        bottom: 0px;
    }
    .banner-titles * {
        font-size: 27px;
    }
    .banner-descritions {
        font-size: 11px;
        padding: 5px;
    }
    .botao-1 {
        padding: 8px 25px;
        font-size: 10px;
    }
    .header nav.navbar.navbar-fixed-top {
        position: relative;
        margin: 0px;
    }
    .banners .carousel-indicators {
        bottom: 0px;
    }
    .scroll-left {
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: none;
        padding: 0px;
    }
    .header {
        position: relative;
    }
    .header .navbar {
        margin: 0px;
    }
    .header .navbar .navbar-nav>li>a {
        max-width: 100%;
        height: 34px;
    }
    .mobile-text-left {
        text-align: left !important;
    }
    .bg-1.info-pacote p {
        margin-bottom: 10px;
    }
    .bg-1.info-pacote .col-sm-3,
    .bg-1.info-pacote .text-right {
        border: none;
        text-align: left;
    }
    .pacote-detalhes .tab-content>.tab-pane {
        display: block !important;
        opacity: 1;
        margin-bottom: 20px;
    }
    .loop-depoimentos .media-left,
    .loop-depoimentos .media-right {
        float: left;
    }
    .box-estilo-1 {
        max-width: 99%;
    }
    .inscrever-se .botao-1 {
        padding: 9.3px 13px;
    }
    .box-estilo-4 iframe,
    .box-estilo-4 video {
        width: 100%;
        margin: auto;
        position: inherit;
    }
    .linha-prods-lista {
        min-height: 144px;
    }
    .linha-prods-lista .nome-roteiro {
        text-align: center;
    }
    .home main,
    .page .banners {
        margin-top: 0px;
    }
    .single-produtos .banners,
    .archive .banners,
    .sem-banner {
        margin-top: 0px;
    }
    .grupos-transeuropa main {
        margin-top: 0px;
    }
    .cruzeiros main {
        margin-top: 0px;
    }
    html .inscrever-se p.texto-news {
        text-align: left;
    }

    p.yikes-easy-mc-success-message {
        top: 75px;
        left: 4px;
    }
}

@media only screen and (max-width:560px) {
    .banner-titles * {
        font-size: 16px;
    }
    .banner-descritions {
        font-size: 9px;
    }
    .banners .botao-1 {
        font-size: 6px;
    }
    .row.home-links a {
        margin-bottom: 20px;
        display: block;
    }
    .row.home-links .borderRightWhite,
    .row.home-links .borderLeftWhite {
        border: none !important;
    }
    html .inscrever-se label.TPCLIENTE-label {
        width: 100% !important;
        display: -webkit-box;
    }
}

@media only screen and (max-width:375px) {
    .banner-descritions {
        font-size: 7px;
    }
    .banner-titles * {
        font-size: 13px;
    }
    .header .navbar {
        padding: 11px;
    }
}

@media print {
    * {
        text-align: left !important;
        padding: 0px !important;
        margin: 0px !important;
    }
    i {
        color: #424243 !important;
    }
    header,
    footer,
    a,
    .btn {
        display: none;
    }
    .no-print {
        display: none;
    }
    .pacote-detalhes ul.nav.nav-tabs.nav-justified.desktop {
        display: none !important;
    }
    .pacote-detalhes .tab-content .mobile {
        display: block !important;
    }
    .pacote-detalhes .tab-content>.tab-pane {
        display: block !important;
        opacity: 1;
        margin-bottom: 20px;
    }
}
