<div class="row text-left">
	<div class="col-sm-12 hide campo-origem">
		<div class="form-group">
			<input class="form-control" type="hidden" name="ORIGEM" value="Cotação via formulário">
		</div>
	</div>
	<div class="col-sm-4 campo-name">
		<div class="form-group">
			<input class="form-control" type="text" name="NAME" placeholder="Nome completo" required="">
		</div>
	</div>
	<div class="col-sm-4 campo-email">
		<div class="form-group">
			<input class="form-control" type="email" name="EMAIL" placeholder="E-mail" required="">
		</div>

	</div>
	<div class="col-sm-4 campo-telefone">
		<div class="form-group">
			<input class="form-control tel" type="tel" name="TELEFONE" placeholder="Tel com DDD" required="">
		</div>
	</div>

	<div class="col-sm-4 campo-destino">
		<div class="form-group">
			<input class="form-control" type="text" name="DESTINO" placeholder="Destino ou pacote desejado">
		</div>
	</div>
	<div class="col-sm-4 campo-data">
		<div class="form-group">
			<input class="form-control data" type="text" name="MESVIAGEM" placeholder="Data da saída">
		</div>
	</div>
	<div class="col-sm-4 campo-numdias">
		<div class="form-group">
			<input class="form-control" type="number" name="NUMDIAS" min="1" max="100" placeholder="nº dias">
		</div>

	</div>
	<div class="col-sm-4 campo-numpax">
		<div class="form-group">
			<input class="form-control" type="number" name="NUMPAX" min="1" max="20" placeholder="nº pessoas">
		</div>

	</div>
	<div class="col-sm-4 campo-cathotel">
		<div class="form-group">
			<input class="form-control" type="text" name="CATHOTEL" placeholder="cat. hotel">
		</div>

	</div>
	<div class="col-sm-4 campo-conheceu">
		<div class="form-group">
			<select class="form-control" name="CONHECEU">
				<option value="">Como nos conheceu?</option>
				<option value="Internet" >Internet</option>
				<option value="Jornal">Jornal</option>
				<option value="Redes Sociais">Redes Sociais</option>
				<option value="Outros">Outros</option>
			</select>
		</div>
	</div>

	<div class="col-sm-12 campo-mensagem">

		<textarea class="form-control" name="MENSAGEM" rows="4" placeholder="mensagem" ></textarea>
	</div>
	<div class="col-sm-12 campo-tpcliente">


		<div class="checkbox">
			<label >
				<input  name="TPCLIENTE" type="radio" value="Passageiro" required=""> <span>Passageiro</span>
			</label>
		</div>
		<div class="checkbox">
			<label >
				<input  name="TPCLIENTE" type="radio" value="Agente de viagem" required=""> <span>Agente de viagem</span>
			</label>
		</div>

	</div>
	<div class="col-sm-12 campo-solicitar">
		<div class="form-group">
			<input class="botao-1" type="submit" value="Solicitar">

			<br><br>

			<span>*Campos obrigatórios</span>
		</div>
	</div>
</div>