<div class="row">

	<div class="col-sm-12">
		<p class="text-center">
			Preencha o formulário abaixo e solicite seu material <br>
			Entraremos em contato em breve!
		</p>
	</div>
	<div class="col-sm-4 text-left">
		[text* nome_agencia placeholder "*Nome da Agência"]
	</div>
	<div class="col-sm-4 text-left">
		[text* your-name placeholder "*nome completo"] 

	</div>
	<div class="col-sm-4 text-left">
		[email* your-email placeholder "*e-mail"] 
	</div>

	<div class="col-sm-6 text-left">
		[text* endereco placeholder "*endereco"]
	</div>

	<div class="col-sm-3 text-left">
		[text* cidade placeholder "*cidade"]
	</div>

	<div class="col-sm-3 text-left">
		[text* estado placeholder "*estado"]
	</div>
	
	<div class="col-sm-3 text-left">
		[tel* telefone class:tel placeholder "*tel com DDD"]
	</div>

	<div class="col-sm-3 text-left">
		[text* cep class:cep placeholder "*CEP"]
	</div>

	<div class="col-sm-3 text-left">
		[text* material placeholder "*Material desejado"]
	</div>

	<div class="col-sm-3 text-left">
		[number* material placeholder "*quantidade"]
	</div>


	<div class="col-sm-12 text-left">
		[submit "Solicitar material"]
		<span>*Campos obrigatórios</span>
	</div>
</div>