<div class="row">
	<div class="col-sm-4 text-left">
		[text* your-name placeholder "*nome completo"] 

	</div>
	<div class="col-sm-4 text-left">
		[email* your-email placeholder "*e-mail"] 
	</div>
	<div class="col-sm-4 text-left">
		[tel* telefone class:tel placeholder "*tel com DDD"]
	</div>

	<div class="col-sm-4 text-left">
		[text* nome_agencia placeholder "*Nome da Agência"]
	</div>
	<div class="col-sm-4 text-left">
		[text* endereco placeholder "*endereco"]
	</div>
	<div class="col-sm-2 text-left">
		[text* cidade placeholder "*cidade"]
	</div>

	<div class="col-sm-2 text-left">
		[text* cidade placeholder "*estado"]
	</div>
	<div class="col-sm-4 text-left">
		[text* cnpf_cpf placeholder "*CNPJ ou CPF"]
	</div>

	<div class="col-sm-4 text-left">
             [checkbox* tipo label_first exclusive "Sou um Agente de viagem " "Sou um Free lancer"]
	</div>

	<div class="col-sm-12 text-left">
		[submit "Solicitar cadastro"]
		<span>*Campos obrigatórios</span>
	</div>
</div>