<div class="row">
	<div class="col-sm-4 text-left">
		[text* your-name placeholder "*nome completo"] 

	</div>
	<div class="col-sm-4 text-left">
		[email* your-email placeholder "*e-mail"] 
	</div>
	<div class="col-sm-4 text-left">
		[tel* telefone placeholder "*tel com DDD"]
	</div>

	<div class="col-sm-4 text-left">
		[text* endereco placeholder "*endereco"]
	</div>
	<div class="col-sm-3 text-left">
		[text* cidade placeholder "*cidade"]
	</div>

	<div class="col-sm-1 text-left">
		[text* cidade placeholder "*estado"]
	</div>


	<div class="col-sm-12 text-left">
		[submit "Solicitar cadastro"]
		<span>*Campos obrigatórios</span>
	</div>
</div>